In [33]:
import pandas as pd
import numpy as np

In [34]:
ratings1 = pd.read_csv('BX-Book-Ratings.csv', sep = ';' , encoding='utf-8', on_bad_lines='warn', encoding_errors = 'ignore')

In [35]:
ratings1
ratings1.nunique()

User-ID        105283
ISBN           340553
Book-Rating        11
dtype: int64

In [36]:
ratings2 = pd.read_csv('BX-Book-Ratings.csv', sep = ';' , encoding='latin1', on_bad_lines='warn', encoding_errors = 'ignore')
ratings2.nunique()

User-ID        105283
ISBN           340556
Book-Rating        11
dtype: int64

In [44]:
weird_ISBNBs = ratings2[ratings2.ISBN != ratings1.ISBN]

In [42]:
books = pd.read_csv('BX-Books.csv', sep = ';' , encoding='latin1', on_bad_lines='warn', encoding_errors = 'ignore')

Skipping line 6452: expected 8 fields, saw 9
Skipping line 43667: expected 8 fields, saw 10
Skipping line 51751: expected 8 fields, saw 9

Skipping line 92038: expected 8 fields, saw 9
Skipping line 104319: expected 8 fields, saw 9
Skipping line 121768: expected 8 fields, saw 9

Skipping line 144058: expected 8 fields, saw 9
Skipping line 150789: expected 8 fields, saw 9
Skipping line 157128: expected 8 fields, saw 9
Skipping line 180189: expected 8 fields, saw 9
Skipping line 185738: expected 8 fields, saw 9

Skipping line 209388: expected 8 fields, saw 9
Skipping line 220626: expected 8 fields, saw 9
Skipping line 227933: expected 8 fields, saw 11
Skipping line 228957: expected 8 fields, saw 10
Skipping line 245933: expected 8 fields, saw 9
Skipping line 251296: expected 8 fields, saw 9
Skipping line 259941: expected 8 fields, saw 9
Skipping line 261529: expected 8 fields, saw 9

C:\Users\ROB7441\AppData\Local\Temp\ipykernel_5252\373609431.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('BX-Books.csv', sep = ';' , encoding='latin1', on_bad_lines='warn', encoding_errors = 'ignore')

In [45]:
books[books.ISBN.isin(weird_ISBNBs.ISBN)]

Empty DataFrame
Columns: [ISBN, Book-Title, Book-Author, Year-Of-Publication, Publisher, Image-URL-S, Image-URL-M, Image-URL-L]
Index: []