In [2]:
import pandas as pd
import numpy as np

In [21]:
ratings = pd.read_csv('BX-Book-Ratings.csv', sep = ';' , encoding='utf-8', error_bad_lines=False)

TypeError: read_csv() got an unexpected keyword argument 'error_bad_lines'

In [17]:
ratings

     User-ID        ISBN  Book-Rating
0     276725  034545104X            0
1     276726  0155061224            5
2     276727  0446520802            0
3     276729  052165615X            3
4     276729  0521795028            6
..       ...         ...          ...
995   277170  0446609404            0
996   277170  0446610038            0
997   277170  0451178017            0
998   277170  0553211056            9
999   277170  0553285920            9

[1000 rows x 3 columns]